/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Base typography */
body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f9f9f9;
    color: #333;
    line-height: 1.6;
    transition: background-color 0.3s ease, color 0.3s ease;
    font-size: 16px;
    /* Base font size */
}

/* Page Title */
.page-title {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 2.5em;
    color: #2c3e50;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
    z-index: 998;
}

.overlay.active {
    opacity: 1;
    visibility: visible;
}


/* Headings */
h1,
h2,
h3 {
    color: #2c3e50;
    margin-bottom: 20px;
    font-family: 'Lora', serif;
    transition: color 0.3s ease, font-size 0.3s ease;
}

@media (max-width: 768px) {
    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 1.75em;
    }

    h3 {
        font-size: 1.25em;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 1.8em;
    }

    h2 {
        font-size: 1.5em;
    }

    h3 {
        font-size: 1.1em;
    }
}

/* Links */
a {
    color: #2980b9;
    text-decoration: none;
    transition: color 0.3s ease, transform 0.3s ease;
}

a:hover {
    color: #2980b9;
    transform: scale(1.05);
}