<!-- templates/tos.html -->
{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/components/tos.css') }}">
{% endblock %}

{% block title %}Terms of Service{% endblock %}

{% block content %}
    <h1>Terms of Service</h1>
    <div class="tos-content">
        
        <h2>1. Acceptance of Terms</h2>
        <p>
            To ensure everyone enjoys their time on our platform, we've put together these Terms of Service (the "TOS"). By accessing or using any of our content, products, or services (collectively, the "Services"), you acknowledge that you have read, understood, and agreed to be bound by these terms.
        </p>
        
        <h2>2. Liability</h2>
        <p>
            You agree that you are liable for any claims, losses, damages, liabilities, costs, or expenses (including but not limited to legal fees) arising out of or relating to any content published on our website, even if such content is false or defamatory. You are fully responsible for all claims made in articles published on your site and agree under oath that all statements made on this site are truthful.
        </p>
        
        <h2>3. Random Charges</h2>
        <p>
            We may impose random charges to your account at any time for any reason or no reason at all. These charges will be non-refundable, and you are responsible for paying them in full within a specified period of time or risk suspension of your account.
        </p>
        
        <h2>4. Random Home Visits</h2>
        <p>
            Our news teams may visit your home unexpectedly to verify the statements made in articles published on your site. You agree to cooperate with these visits and provide any necessary documentation or access to information upon request. You are responsible for all costs associated with these visits, including travel expenses, accommodation, and meals for our news teams.
        </p>
        
        <h2>5. Disclaimer</h2>
        <p>
            The service is provided on an "AS IS" and "AS AVAILABLE" basis. We do not warrant that the service will be uninterrupted or error-free.
        </p>
                
    </div>
{% endblock %}